html, body {
  height: 100%;
  width: 100%;
}

body {
  background: black;
}

.st {
  width: 625px;
  margin: 8rem auto 8rem auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 8rem;
  font-family: 'ITC Benguiat W01';
  font-weight: 800;
  color: #1c0502;
  letter-spacing: -2px;
  animation: popShadow 1s infinite;
}

@keyframes popShadow {
  0% {
      text-shadow: 0 0 0 black;
  }

  50% {
      text-shadow: -0.05rem -0.05rem 1px maroon,
          0.05rem -0.05rem 1px maroon,
          -0.05rem 0.05rem 1px brown,
          0.05rem 0.05rem 1px red,
          0 0 15px #630100,
          0 0 20px #450100;
  }

  100% {
      text-shadow: 0 0 0 black;
  }
}

.st p {
  display: inline-block;
  margin: 0;
}

.st-bound {
  box-shadow: -0.05rem -0.05rem 2px #ed2b12,
      0.05rem -0.05rem 2px #ed2b12,
      -0.05rem 0.05rem 2px #ed2b12,
      0.05rem 0.05rem 2px #ed2b12;
  height: 5px;
}

.st-bound-full {
  width: 100%;
  margin: auto;
  margin-bottom: -1.2rem;
  max-width: 612px;
  margin-left: 5px;
}
.st-bound-full {
  width: 100%;
  margin: auto;
  margin-top: -1.2rem;
  max-width: 612px;
  margin-left: 5px;
}
.st-bound-mini {
  margin-top: 0.5rem;
}

.st-bound-left {
  float: left;
  width: 99px;
  position: relative;
  left: 5px;
}

.st-bound-right {
  float: right;
  width: 103px;
  left: 0.3rem;
  position: relative;
}

.st-bottom {
  clear: both;
  top: -3.75rem;
  position: relative;
  left: .6rem;
  letter-spacing: 1px;
}

.st-drop {
  line-height: 0;
  position: relative;
  top: 1.55rem;
}

.st-techsyiq-t {
  font-size: 10.5rem;
  left: 0rem;
  letter-spacing: 0px;
}

.st-techsyiq-e {
  letter-spacing: -5px;
}

.st-techsyiq-c {
  letter-spacing: -5px;
}

.st-techsyiq-i {
  letter-spacing: 0;
}

.st-techsyiq-q-2 {
  font-size: 10.5rem;
  right: 0.2rem;
}

.st-school-s {
  font-size: 104%;
  letter-spacing: 2px;
}

.st-school-o {
  letter-spacing: -3px;
}

.st-school-l {
  letter-spacing: -3px;
}

.st-welcome-w {
 letter-spacing: -3px;
}
.st-welcome-c {
letter-spacing: -3px;
} 

.st-welcome-e {
letter-spacing: -3px;
}